<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Photos</title>
  <link rel="stylesheet" href="poze.css">
</head>
<body>
  <section id="Incarcare_imagine">
    <h2>Incarca o imagine:</h2>
    <form method="POST" enctype="multipart/form-data">
      <h1>Încarcă poză</h1>
      <input type="file" name="picture" required>
      <input type="submit" value="Încarcă">
    </form>
  </section>
  <section id="Imagini_incarcate" class="grid-section">
    <h2>Imaginile incarcate:</h2>
    <div id="imageGallery" class="grid-container">
      <% if (poze) { %>
        <% poze.forEach(image => { %>
          <img src="<%= image.path %>" class="grid-item" width="500" height="600">
        <% }) %>
      <% } %>      
    </div>
  </section>
</body>
</html>
