#titlu {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  position: relative;
  display: block;
  block-size: auto;
  overflow: hidden;
}

#titlu::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, rgb(113, 85, 190), rgb(78, 50, 172), rgb(2, 2, 110), rgb(0, 0, 0));
  transform: translateX(-100%);
  animation: example 4s;
  animation-iteration-count: once;
  animation-fill-mode: forwards;
}

@keyframes example {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
