<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Photos</title>
  <link rel="stylesheet" href="poze.css">
  <style>
    .grid-section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }

    .grid-item {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #Imagini_incarcate{
      display:inline-block;
    }
  </style>
</head>
<body>
  <section id="Incarcare_imagine">
    <h2>Incarca o imagine:</h2>
    <form method="POST" enctype="multipart/form-data">
      <h1>Încarcă poză</h1>
      <input type="text" name="author" required placeholder="Autor" />
      <input type="file" name="picture" required>
      <input type="submit" value="Încarcă">
    </form>
  </section>
  <section id="Imagini_incarcate" class="grid-section">
    <h2>Imaginile incarcate:</h2>
    <div id="imageGallery" class="grid-container">
      <% if (pictureElement) { %>
        <% pictureElement.forEach(image => { %>
          <img src="/uploads/<%= image.path %>" alt="Uploaded Picture" class="grid-item">
        <% }) %>
      <% } %>      
    </div>
  </section>
  <script src="poze.js"></script>
</body>
</html>
