<!DOCTYPE html>
<html>
<head>
  <title>Upload</title>
</head>
<body>
  <% if (picture) { %>
    <h1>Salut, <%= author %>!</h1>
    <p>Poza ta are <%= picture.size %> bytes.</p>
    <img src="/<%= picture.path %>" alt="Uploaded Picture">
  <% } else { %>
    <p>Poza nu a fost trimisă.</p>
  <% } %>
</body>
</html>
